.gradle
.idea
.intellijPlatform
build
/major-project
/Project_Phase_I_Evaluation.pptx
/test.pptx
!/gen/
/bin
/compact-contracts/
/compact/
/Rplugin/
/intellij-elixir/
/intellij-rust/
/intellij-scala/
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/_move.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/allowance.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/approve.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/balanceOf.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/burn.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/burnFrom.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/clearMemos.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/isRegistered.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/mint.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/register.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/sweep.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/pendingOf.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/totalSupply.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/transfer.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/zkir/transferFrom.zkir
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/compiler/contract-info.json
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/compiler/contract-manifest.json
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/contract/index.d.ts
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/contract/index.js
/gen/compact-contracts/contracts/test/integration/_mocks/ComposedConfidentialFungibleTokenPublicSupply/contract/index.js.map
